<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bugapocalypse.srilankarailwaydigital">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SriLankaRailwayDigital">
        <activity android:name=".TicketBookingForm"></activity>
        <activity android:name=".Main" />
        <activity android:name=".TicketBookStation" />
        <activity android:name=".UserProfile" />
        <activity android:name=".CreateUser" />
        <activity android:name=".UserLogin" />
        <activity android:name=".MyTickets" />
        <activity android:name=".AboutUs" />
        <activity android:name=".DigitalTicket" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>